#wedevs-project-manager,body {
    background-color: #fff!important;
}
a#pm-create-project{
    background: #FF0000!important;
}

.pm .pm-pagination-wrap .current,.pm-overview-panel .pm-pagination-wrap a.current, .pm-overview-panel .pm-pagination-wrap a:hover, .pm-overview-panel .pm-pagination-wrap a:focus
{
    background: #FF0000!important;
}


::-webkit-scrollbar {
width: 6px;
height:20%;
border-radius:10px;
}
::-webkit-scrollbar-track-piece  {
background-color:#f8f8f8 ;
}
::-webkit-scrollbar-thumb:vertical {
height: 30px;
background-color: #ff0000;
}

/**/


.pm-menu-wrap ul li a.router-link-active {
    border-bottom: solid 2px #ff0000!important;
    background: #fff;
    color: #151d41;
    font-weight: 700;
    font-size: 14px;
}

.pm-menu-wrap ul li a {
    background-color: #151d41;
    color: #fff;
}




@media screen and (min-width: 481px){
    
    .pm-page-wrapper .pm-header .pm-header-row {
     display: flex;/*Remove this!*/
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    /*float: right;*/
    flex-direction: row-reverse;
    /*Add this margin-top: -53px;*/
}


.pm .pm-text-right {
    text-align: right;
    margin-top: 50px!important;
    margin: 0px auto;
}


.pm-header-left {
    margin-top: -150px;
        z-index: 9999;
}

input.pm-search.pm-form-control.ui-autocomplete-input {
    height: 45px!important;
}

form.pm-search-form {
    margin-right: -250px!important;
}



}
/*.pm-header-right.pm-text-right {*/
/*    margin-left: -170%;*/
/*    margin-top: 30px;*/
/*}*/


.ui-widget-overlay {
    background: #003049!important;
    opacity: .9!important;
    
}
